.root {
    background: white;
    box-shadow: none;
    color: black;
    font-size: small;
}

.searchbar {
    align-items: center;
    display: flex;
    margin: 0 1rem;
    padding: 2px 4px;
    width: 400px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.button {
    color: #fff;
    text-transform: none;
}

.logo {
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    text-align: center;
    color: #3fbac2;
}

@media screen and (max-width: 768px) {
    .searchbar {
        display: none;
    }
}
